$color-light-shadow: rgba(0, 0, 0, 0.3)
$color-white-shadow: rgba(255, 255, 255, 0.2)
$color-glow: rgba(255, 255, 255, 1.0)
$color-1: #bbb
$color-2: #30303f
$color-3: #efefef
$color-4: #e99f95
$color-grey-text: #555
$color-very-light-grey: #f4f4f4
$color-red-glow: rgba(255, 55, 55, 1.0)

$media-controller-height: 3em

.glow
  box-shadow: inset 0 0 5px $color-glow

*
  font-family: 'Open Sans', sans-serif

body
  padding: 0
  margin: 0
  background-color: $color-1
  height: 100%

html
  padding: 0
  margin: 0
  height: 100%

#container
  width: 100%
  height: 100%



#alert-box.alert-flash
  animation: alert-flash 3s

@keyframes alert-flash
  0%
    opacity: 0
    background-color: $color-3
  5%
    opacity: 1
    background-color: #b88
  50%
    opacity: 1
    background-color: $color-3

  95%
    opacity: 1
    background-color: $color-3

  100%
    opacity: 0
    background-color: $color-3

#alert-box
  opacity: 0
  box-sizing: border-box
  width: auto
  height: 4em
  overflow: hidden
  position: absolute
  padding: 1em
  margin: 1em
  bottom: 0
  border-radius: 1em
  background-color: $color-3
  text-align: center



#header
  box-shadow: inset 0 1.5em 3em $color-white-shadow, inset 0 -1em 1.5em $color-light-shadow
  height: 3em
  display: flex
  background-color: $color-2
  font-family: 'Sarala', sans-serif
  &>h2

    flex: 0 0 1
    display: inline-block
    height: 1.4em
    margin: 0
    color: #fff
    padding: 0.2em
    font-weight: 300

#body
  height: calc(100% - 5em)
  background-color: #fff

#footer
  height: 2em
  background-color: #fff

#room-joiner
  margin-left: auto
  width: 20em
  display: flex
  padding: 0.2em
  &>input
    width: 70%
    border: none
    font-size: 1.5em
  &>button
    width: 30%
    border: none

#you-button
  margin: 0.2em
  width: 5em
  border: none
  background-color: $color-3
  &:hover
    background-color: darken($color-3, 5%)

.flash-you-button
  animation: you-button-flash 5s

@keyframes you-button-flash
  0%
    box-shadow: inset 0 0 0 rgba(0,0,0,0)
  70%
    box-shadow: inset 0 0 0 rgba(0,0,0,0)
  80%
    box-shadow: inset 0 0 10px $color-red-glow
  100%
    box-shadow: inset 0 0 0 rgba(0,0,0,0)

.login-input
  box-sizing: border-box
  width: 100%
  border: 1px solid $color-light-shadow
  height: 2em

#user
  z-index: 5
  width: 20em
  position: absolute
  box-sizing: border-box
  background-color: $color-3
  box-shadow: 0 1px 2px $color-light-shadow
  top: 3.5em
  right: 0.5em
  text-align: center
  &>h2
    text-align: center
    margin: 0

#login-and-registration
  width: 100%

#login-and-registration-tabs
  position: relative
  width: 100%
  height: 2em

#login-tab, #register-tab
  border: 0
  height: 100%
  margin: 0
  padding: 0
  border: 1px solid $color-light-shadow
  background-color: darken($color-1, 10%)
  &:hover
    background-color: darken($color-1, 5%)

#login-tab.active-tab, #register-tab.active-tab
  background-color: lighten($color-1, 10%)
  &:hover
    background-color: lighten($color-1, 10%)

#login-tab
  position: absolute
  top: 0
  left: 0
  width: 50%

#register-tab
  position: absolute
  top: 0
  right: 0
  width: 50%

#login-and-registration-buttons
  width: 100%
  height: 3em

#login-button, #register-button
  height: 3em
  border: 0
  width: 100%
  background-color: $color-3
  &:hover
    background-color: darken($color-3, 10%)

#friend-section
  border: 1px solid $color-1
  margin: 2em

.friends-title
  color: $color-1
  margin: 0.5em

#friend-adder
  margin: 1em auto 1em auto
  width: 100%
  &>button
    border: none
    border-radius: 0 0.5em 0.5em 0
    background-color: #fff
  &>button:hover
    cursor: pointer
  &>input
    border: none

.friend-list
  padding: 1em
  text-align: left
  list-style: none

.friend
  background-color: $color-very-light-grey

.friend:not(:last-child)
  border-bottom: 1px solid $color-1

#make-room
  margin: 1em auto 1em auto

#media-controller
  display: flex
  height: 3em
  padding: 1em

.media-controller-controls
  height: 2em

.volume-icon
  text-align: center
  width: 1em
  height: 1em

.volume-control
  display: inline-block


#player-container
  padding: 0.5em
  background: $color-3

#song-adder
  display: flex
  &>input
    width: 100%
    flex: 1 0 1
  &>button
    flex: 0 1 1

#song-list
  padding: 0.5em
  background: $color-3
  &>#songs
    list-style: none
    padding-left: 0

.song-item
  border: 1px solid rgba(0,0,0,0.1)
  display: flex
  &>.play-symbol
    width: 2em
    text-align: center
  &>.song-name
    height: 1.5em
    width: calc(100% - 4em)
    overflow: hidden
  &>button
    width: 2em

#list-player-holder
  height: calc(100% - 3em)

@media screen and (min-width: 60em)
  #list-player-holder
    display: flex

  #song-list
    display: inline-block
    box-sizing: border-box
    width: 50%
    padding: 2em

  #player-container
    display: inline-block
    box-sizing: border-box
    width: 50%
    height: 100%
    padding: 2em


#landing-message
  letter-spacing: 0.15em
  position: relative
  top: 2em
  margin: 0 auto 2em auto
  padding: 1em
  border-radius: 1em
  max-width: 30em
  text-align: center
  background-color: $color-3
  color: $color-grey-text
  animation: ease landing-raise 1s

@keyframes landing-raise
  0%
    top: 4em

  100%
    top: 2em
